<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<div class="spinner-overlay hidden">
			<div class="spinner"></div>
		</div>
		<!-- row -->
		<div class="row">
			<!-- Order Details -->
			<div class="col-md-5 order-details">
				<div class="section-title text-center">
					<h3 class="title">Your Order</h3>
				</div>
				<div class="order-summary">
					<div class="order-col">
						<div><strong>PRODUCT</strong></div>
						<div><strong>TOTAL</strong></div>
					</div>
					<div class="order-products">
						{% for item in cart_items %}
							<div class="order-col">
								<div>{{item.quantity}}x {{item.product.name}}</div>
								<div>AED {{item.product.price}}</div>
							</div>
						{% endfor %}
					</div>
					<div class="order-col">
						<div>Shiping</div>
						<div><strong>FREE</strong></div>
					</div>
					<div class="order-col">
						<div><strong>TOTAL</strong></div>
						<div><strong class="order-total">AED {{total_price}}</strong></div>
					</div>
				</div>
				<div class="payment-method">
					<div class="input-radio">
						<input type="radio" name="payment" id="payment-1">
						<label for="payment-1">
							<span></span>
							Cash on Delivery
						</label>
						<div class="caption">
							<p>Cash on Delivery (COD) is available for eligible orders on Main Point. Customers choosing COD must pay the total order amount in cash to the delivery agent upon receiving the product. COD availability is subject to the seller's discretion and may not be offered for certain locations or high-value orders. We reserve the right to modify or withdraw COD as a payment option.</p>
						</div>
					</div>
				</div>
				<div class="input-checkbox">
					<input type="checkbox" id="terms">
					<label for="terms">
						<span></span>
						I've read and accept the <a href="#">terms & conditions</a>
					</label>
				</div>
				<a href="" id="submit-order" data-total={{total_price}}  class="primary-btn order-submit">Place order</a>
			</div>
			<!-- /Order Details -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

<script>
	$(document).ready(function(){
		$("#submit-order").click(function(e){
			e.preventDefault();
			let total = $(this).data("total");
			let payment_method = $('input[name="payment"]:checked').next().text().trim();
			if($('input[name="payment"]:checked').length == 0 || !$("#terms").is(":checked")){
				alert("Please select payment method and accept terms and conditions");
				return;
			}
			else{
				$(".spinner-overlay").removeClass("hidden");
				$(this).attr("disabled");
				$.ajax({
					type: "GET",
					url: `/create-order/${payment_method}/${total}`,
					success: function (data) {
						if(data.not_authenticated)
							window.location.href = "/accounts/login";
						else{
							alert(data.message);
							window.location.href = "/";
						}
					},
					error: function () {
						alert("Error adding product to cart!");
					},
				});
			}
		});
	});
</script>
