{% extends "../laptop_shop/base.html" %}
{% block title %}Contact Us | Main Point{% endblock title %}
{% load static %}
{% block styles %}
<link
  type="text/css"
  rel="stylesheet"
  href="{% static 'laptop_shop/css/contact.css'%}"
/>
{% endblock %}

{% block content %}
<div class="col-12 d-flex-center">
  <div class="card" style="max-width: 1100px;">
    <div style="width: 100%; height: 400px; margin-bottom: 16px"><iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=100%25&amp;hl=en&amp;q=Main%20Point%20electronics,%2021A%20Street%20-%20Al%20Raffa%20St%20-%20Dubai%20-%20United%20Arab%20Emirates+(Main%20Point)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div>
    <div class="card-body">
      <div class="left-side">
        <div class="address details">
          <i class="fa fa-map-marker"></i>
          <div class="topic">Address</div>
          <div class="text-one">21A Street - Al Raffa St</div>
          <div class="text-two">Dubai - United Arab Emirates</div>
        </div>
        <div class="phone details">
          <i class="fa fa-phone"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+9715 0620 9288</div>
          <div class="text-two">+9715 5841 5588</div>
        </div>
        <div class="email details">
          <i class="fa fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">ishilive@live.com</div>
          <div class="text-two">admin@mainpoint.com</div>
        </div>
      </div>
      <div class="right-side">
				<div class="topic-text">Send us a message</div>
				<p>If you have any work from me or any types of quries related to my tutorial, you can send me message from here. It's my pleasure to help you.</p>
				<form id="email-form">
					<div class="input-box">
						<input type="text" name="name" placeholder="Enter your name" />
					</div>
					<div class="input-box">
						<input type="text" name="email" placeholder="Enter your email" />
					</div>
					<div class="input-box message-box">
						<textarea name="message" placeholder="Enter your message"></textarea>
					</div>
					<div class="button">
						<input type="submit" value="Send Now" />
					</div>
				</form>
			</div>
    </div>
  </div>
</div>
		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Sign Up for the <strong>NEWSLETTER</strong></p>
							<form>
								<input class="input" type="email" placeholder="Enter Your Email">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
							</form>
							<ul class="newsletter-follow">
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->


<script>
	const getCookie = (name) => {
		let cookieValue=null;
		if(document.cookie && document.cookie !== ""){
		const cookies=document.cookie.split(";");
		for(let i=0; i<cookies.length; i++){
		const cookie=cookies[i].trim();
		// Does this cookie string begin with the name we want?
		if(cookie.substring(0, name.length+1)===(name+"=")){
		cookieValue=decodeURIComponent(cookie.substring(name.length+1));
		break;
		}
		}
		}
		return cookieValue;
		};

	document.getElementById('email-form').addEventListener('submit', function(e) {
		e.preventDefault();
		let formData = new FormData(e.target);
		fetch('/send-email', {
					method: 'POST',
					headers: {
						'X-CSRFToken': getCookie('csrftoken')
					},
					body: JSON.stringify({
						name: formData.get('name'),
						email: formData.get('email'),
						message: formData.get('message')
					})
				})
				.then(response => response.json())
				.then(data => {
					console.log(data.message);
				})
				.catch(error => {
					console.error('Error:', error);
				});
				alert('Email sent successfully');
				e.target.reset();
			});
		</script>
{% endblock %}
